# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
.wav
*.py[cod]
*.$py.class
*.png
*.pdf

# Distribution / packaging
.Python
build/
developer-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.install.cfg
*.egg
MANIFEST

# mypy
.mypy_cache/
